<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="login-header">
      <h1>🎮</h1>
      <h2>Catálogo de Jogos</h2>
      <p>Faça login para continuar</p>
    </div>

    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input type="text" [(ngModel)]="username" autocomplete="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="ion-margin-top" (click)="autenticarUsuario()">
      Entrar
    </ion-button>
  </div>
</ion-content>
